---
title: Choose your technology
---

<strong><%= modified_date %></strong>

<div style="display:inline-block;">
  <a href="../buildpacks/java/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/java.svg" style="max-width:80px;max-height:80px">
      <p>Java</p>
    </div>
  </a>

  <a href="../buildpacks/go/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/go.svg" style="max-width:80px;max-height:80px">
      <p>Go</p>
    </div>
  </a>

  <a href="../tutorial-node/index.html" target="_blank">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/node.svg" style="max-width:80px;max-height:80px">
      <p>Node.js</p>
    </div>
  </a>

  <a href="../buildpacks/php/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/php.svg" style="max-width:80px;max-height:80px">
      <p>PHP</p>
    </div>
  </a>

  <a href="../buildpacks/python/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/python.svg" style="max-width:80px;max-height:80px">
      <p>Python</p>
    </div>
  </a>

  <a href="../buildpacks/ruby/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/ruby.svg" style="max-width:80px;max-height:80px">
      <p>Ruby</p>
    </div>
  </a>

  <a href="../buildpacks/staticfile/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/staticfile.svg" style="max-width:80px;max-height:80px">
      <p>HTML/CSS/JS</p>
    </div>
  </a>

  <a href="../buildpacks/binary/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/binary.svg" style="max-width:80px;max-height:80px">
      <p>Binary</p>
    </div>
  </a>

  <a href="../devguide/deploy-apps/index.html">
    <div style="text-align:center">
      <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/custom.svg" style="max-width:80px;max-height:80px">
      <p>Other</p>
    </div>
  </a>
</div>
