---
title: Getting Started
---

<strong><%= modified_date %></strong>

Welcome to <%= vars.product_full %> Getting-Started section! You're on the best way to get your apps out there.

## <a id='toc'></a> Table of Contents

* [Register](./register.html)
* [Install CLI](./install.html)
* [Choose Technology](./choose.html)
