---
title: Getting Started
owner: Richard Veloch
---

<strong><%= modified_date %></strong>

Welcome to <%= vars.product_full %>! To get started, please choose your preferred technology below or browse the documentation directly.

## Choose Your Technology

<div style="display:inline-block;">

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../buildpacks/binary/index.html">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/binary.svg" style="width:100%">
        <p>Binary</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../buildpacks/go/index.html">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/go.svg" style="width:100%">
        <p>Go</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-java/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/java.svg" style="width:100%">
        <p>Java</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-dotnetcore/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/dotnetcore.svg" style="width:100%">
        <p>.NET Core</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-node/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/node.svg" style="width:100%">
        <p>Node.js</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-php/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/php.svg" style="width:100%">
        <p>PHP</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-python/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/python.svg" style="width:100%">
        <p>Python</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-ruby/index.html" target="_blank">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/ruby.svg" style="width:100%">
        <p>Ruby</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../tutorial-clojure/index.html" target="_blank">
      <div style="text-align:center">
        <img src="../tutorial-clojure/images/clojure.svg" style="width:100%">
        <p>Clojure</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../buildpacks/staticfile/index.html">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/staticfile.svg" style="width:100%">
        <p>Static Files</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../concepts/how-applications-are-staged.html#stage-docker">
      <div style="text-align:center">
        <img src="https://api.lyra-836.appcloud.swisscom.com/static-media/images/buildpack/docker.svg" style="width:100%">
        <p>Docker</p>
      </div>
    </a>
  </div>

  <div style="display:inline-block;margin:1em;width:80px">
    <a href="../devguide/deploy-apps/index.html">
      <div style="text-align:center">
        <h1>?</h1>
        <p>Other</p>
      </div>
    </a>
  </div>

</div>
