---
title: Install CF CLI
---

The Cloud Foundry [Command Line Interface](../cf-cli/index.html) (CF CLI) is a terminal tool for deploying and managing your applications. It can be used in combination with the Developer Console since a lot of the functionality is covered by both interfaces.

1. You can **download the CF CLI** from <a href="https://github.com/cloudfoundry/cli/releases/" target="_blank"> GitHub</a>. Download the installer for your OS and try the command `cf help` to check whether the tool installed correctly.

2. Now it’s time to **log into your CLI**. To get the respective commands and API URL, visit the space you want to work with in the Developer Console and open the Settings tab (gear icon in the top right corner). All the commands you need will be provided for you to copy and paste into your terminal.
