---
title: Introduction
owner: @mastertinner
---

<strong><%= modified_date %></strong>

This tutorial will have you deploying a Node.js app in minutes.

Hang on for a few more minutes to learn how it all works, so you can make the most out of <%= vars.product_full %>.

The tutorial assumes that you have an <%= vars.product_short %> account, and that you have [Node.js and npm](https://nodejs.org/en/download) installed locally.

<div style="text-align:center">
  <a href="./set-up.html" class="btn btn-primary">I'm ready to start</a>
</div>
