---
title: Prepare the App
owner: @mastertinner
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-node.git
$ cd cf-sample-app-node
</pre>

You now have a functioning git repository that contains a simple application as well as a `package.json` file, which is used by Node’s dependency manager npm.

<div style="text-align:center">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
