---
title: Run the App Locally
owner: @mastertinner
---

<strong><%= modified_date %></strong>

Now start your application locally using the `npm start` command:

<pre class="terminal">
$ npm start

&gt; cf-sample-app-node@0.0.0 start /.../cf-sample-app-node
&gt; node ./bin/www
</pre>

Open [http://localhost:3000](http://localhost:3000) with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
